@import '../mix-ins/mix-ins.css';
@import '../variables/variables';

#sectionD {
    padding: 70px 140px;
    background-color: whitesmoke;
    @include displayFlexCenter;
    flex-direction: column;
    text-align: center;

    span {
        @include sectionFont;
        @include displayFlexCenter;
        margin-bottom: 10px;
        &:nth-child(2) {
            margin-bottom: 25px;
        }
    }
    .firstslide {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        &>div {
            display: flex;
            flex-direction: row;
        }
        .firstproduct {
            @include slideConfig2;
        }
        .secondproduct {
            @include slideConfig2;
        }
        .thirdproduct {
            @include slideConfig2;
        }
        .fourthproduct {
            @include slideConfig2;
        }
    }
}
@media (max-width: 1400px) {
    #sectionD {
        .firstslide {
            flex-direction: column;
        }
    }
}

@media (max-width: 750px) {
    #sectionD {
        .firstslide {
            &>div {
                display: flex;
                flex-direction: column;
            }
        }
    }
 
}

@media (max-width: 800px) {
    #sectionD {
        padding: 70px 30px;
    }
}